In [1]:
# Import dependencies
import pandas as pd
import gmaps
import requests
# Import the API key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Muchkapskiy,RU,2021-12-11 17:09:01,51.8513,42.4717,27.09,67,9,7.29
1,1,Butaritari,KI,2021-12-11 17:09:01,3.0707,172.7902,82.99,76,63,15.59
2,2,Aklavik,CA,2021-12-11 17:09:02,68.2191,-135.0107,1.40,78,90,13.80
3,3,Atuona,PF,2021-12-11 17:09:02,-9.8000,-139.0333,78.69,74,43,17.85
4,4,Necochea,AR,2021-12-11 17:09:02,-38.5473,-58.7368,76.62,58,65,8.63

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=200, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=200, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=200, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent windiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=200, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Butaritari,KI,2021-12-11 17:09:01,3.0707,172.7902,82.99,76,63,15.59
3,3,Atuona,PF,2021-12-11 17:09:02,-9.8000,-139.0333,78.69,74,43,17.85
4,4,Necochea,AR,2021-12-11 17:09:02,-38.5473,-58.7368,76.62,58,65,8.63
5,5,Saint-Pierre,RE,2021-12-11 17:09:03,-21.3393,55.4781,78.44,83,74,3.44
6,6,Rikitea,PF,2021-12-11 17:04:20,-23.1203,-134.9692,75.34,74,100,14.52
9,9,Shakawe,BW,2021-12-11 17:09:04,-18.3667,21.8500,79.84,51,91,2.89
12,12,The Valley,AI,2021-12-11 17:09:05,18.2170,-63.0578,85.82,69,40,16.11
13,13,Labuhan,ID,2021-12-11 17:09:05,-6.8844,112.2051,79.30,84,100,7.11
14,14,Muisne,EC,2021-12-11 17:09:05,0.6000,-80.0333,77.11,90,100,13.67
15,15,Saint-Philippe,RE,2021-12-11 17:09:06,-21.3585,55.7679,78.35,77,51,10.47

In [18]:
# Determine if there are any null values
preferred_cities_df.count()

City_ID       168
City          168
Country       166
Date          168
Lat           168
Lng           168
Max Temp      168
Humidity      168
Cloudiness    168
Wind Speed    168
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1       Butaritari      KI     82.99   3.0707  172.7902
3           Atuona      PF     78.69  -9.8000 -139.0333
4         Necochea      AR     76.62 -38.5473  -58.7368
5     Saint-Pierre      RE     78.44 -21.3393   55.4781
6          Rikitea      PF     75.34 -23.1203 -134.9692
9          Shakawe      BW     79.84 -18.3667   21.8500
12      The Valley      AI     85.82  18.2170  -63.0578
13         Labuhan      ID     79.30  -6.8844  112.2051
14          Muisne      EC     77.11   0.6000  -80.0333
15  Saint-Philippe      RE     78.35 -21.3585   55.7679

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [23]:
# See the results of the search
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Butaritari,KI,82.99,3.0707,172.7902,Isles Sunset Lodge
3,Atuona,PF,78.69,-9.8000,-139.0333,Villa Enata
4,Necochea,AR,76.62,-38.5473,-58.7368,dyd -mar Hotel
5,Saint-Pierre,RE,78.44,-21.3393,55.4781,Lindsey Hôtel
6,Rikitea,PF,75.34,-23.1203,-134.9692,People ThankYou
9,Shakawe,BW,79.84,-18.3667,21.8500,Ditlhapi Guest House
12,The Valley,AI,85.82,18.2170,-63.0578,CeBlue Villas & Beach Resort
13,Labuhan,ID,79.30,-6.8844,112.2051,PT PPI Lamongan Tambak C
14,Muisne,EC,77.11,0.6000,-80.0333,Quinta Samay
15,Saint-Philippe,RE,78.35,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=200, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))